{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container pt-2">

        <header>
            <p class="text-white bg-warning">COUCOU</p>
        </header>
        <h1 class="display-4">
            <i class="las la-comment"></i>
            Page d'accueil
        </h1>

        <p class="text-gray-dark w-50">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati necessitatibus commodi velit amet, ullam quod nisi accusamus rem quidem molestias. Dolorum modi praesentium aliquam maiores ab odit vel natus molestiae?
        </p>
    </div>
{% endblock %}
